<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <add value="index.asp" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <identity impersonate="true" />
        <authentication mode="Forms" />
    </system.web>
</configuration>
